<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Id</th>
                <th>이름</th>
                <th>학년</th>
                <th>userType</th>
                <th>우편번호</th>
                <th>주소</th>
                <th>상세주소</th>
                <th>참고항목</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="member : ${members}">
                <td th:text="${member.userId}"></td>
                <td th:text="${member.userName}"></td>
                <td th:text="${member.grade}"></td>
                <td th:text="${member.userType}"></td>
                <td th:text="${member.address?.zipcode}"></td>
                <td th:text="${member.address?.firAdd}"></td>
                <td th:text="${member.address?.secAdd}"></td>
                <td th:text="${member.address?.etc}"></td>
                <td>
                    <a href="#" th:href="@{/members/teacher/cancel/{id} (id=${member.userId})}"
                       class="btn btn-danger" role="button">CANCEL</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>