<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>협회소개 | DCCA</title>
  </head>

<body>
<div th:replace="fragments/bodyHeader :: bodyHeader"/>
<div th:replace="fragments/associationLeftMenu :: associationLeftMenu"/>
      
      <div class="content">
        <div class="content__title"><h1>회사연혁</h1></div>
        <div class="content__content">
          <p>
            <li>2010. 07. (사)한국문화산업알엔디연구소 설립</li>
            <h2>(문화체육관광부 허가)</h2>
            <li>2017. 12. (사)디지털문화융합협회 상호 및 사업목적 변경</li>
            <h2>(문화체육관광부 허가)</h2>
            <li>2018. 05 2018 IT융합 스토리텔링 경진대회 공동 주관</li>
            <li>2018. 06. 제1차 남북 ICT 및 문화융합 협력사업 세미나 개최</li>
            <li>2018. 08. 월드로봇올림피아드(WRO) 한국대회 공동 주관</li>
            <li>2019. 02. 2018년 한-아프리카(AU) 협력기반조성사업 협력</li>
            <li>2019. 06. 남북과학기술교류협력사업 협력</li>
            <li>2019. 08. 월드로봇올리피아드(WRO) 한국대회</li>
            <h2>(주최/주관 : 디지털문화융합협회)</h2>
            <li>2019. 08. 제3차 남북 디지털문화융합사업 간담회 개최</li>
            <h2>(주최 : 국회의원 이상민 주관 : 디지털문화융합협회/청운대학교</h2>
          </p>
        </div>
      </div>
    </div>
    <script src="static/js/nav.js"></script>
  </body>
<div th:replace="fragments/footer :: footer"/>
</html>
