@import "reset.css";
@import url("https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700&display=swap&subset=korean");
@import "section.css";
@import "nav-bar.css";
@import "home.css";
@import "intro.css";
* {
  box-sizing: border-box;
}
a {
  /* 부모의 색상을 받아오는 것 */
  color: inherit;
  /* 텍스트에 줄을 그을때 사용*/
  text-decoration: none;
}
body {
  /* 폰트 */
  font-family: "Nanum Gothic", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

  background-color: lightgray;
  list-style: none;
  overflow-x: hidden;
}
