<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
  <title>협회소개 | DCCA</title>
</head>

<body>
<div th:replace="fragments/bodyHeader :: bodyHeader"/>
<div th:replace="fragments/associationLeftMenu :: associationLeftMenu"/>


<div class="content">
  <div class="content__title"><h1>로그인</h1></div>
  <div class="content__content">
    <form th:action="@{/auth}" method="post" th:object="${memberForm}">
      <label th:for="email">email</label>
      <input type="email" name="email" placeholder="이메일 입력해주세요"><br>
      <label th:for="password">PW</label>
      <input type="password" name="password" placeholder="비밀번호"><br>
      <button type="submit">로그인</button>
    </form>
  </div>
</div>
</div>
<script src="nav.js"></script>
</body>
<div th:replace="fragments/footer :: footer"/>
</html>
