<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>Gallery | DCCA</title>
  </head>
<body>
<div th:replace="fragments/bodyHeader :: bodyHeader"/>
<div th:replace="fragments/boardLeftMenu :: boardLeftMenu"/>

      <section>
        <ul class="card-list">
          <li class="card-item">
            <figure
              class="card-image"
              style="background-image: url(../static/image/gallery/1.jpg);"
            ></figure>
          </li>
          <li class="card-item">
            <figure
              class="card-image"
              style="background-image: url(../static/image/gallery/2.jpg);"
            ></figure>
          </li>
          <li class="card-item">
            <figure
              class="card-image"
              style="background-image: url(../static/image/gallery/3.jpg);"
            ></figure>
          </li>
          <li class="card-item">
            <figure
              class="card-image"
              style="background-image: url(../static/image/gallery/4.jpg);"
            ></figure>
          </li>
          <li class="card-item">
            <figure
              class="card-image"
              style="background-image: url(../static/image/gallery/5.jpg);"
            ></figure>
          </li>
          <li class="card-item">
            <figure
              class="card-image"
              style="background-image: url(../static/image/gallery/6.jpg);"
            ></figure>
          </li>
          <li class="card-item">
            <figure
              class="card-image"
              style="background-image: url(../static/image/gallery/7.jpg);"
            ></figure>
          </li>
          <li class="card-item">
            <figure
              class="card-image"
              style="background-image: url(../static/image/gallery/8.jpg);"
            ></figure>
          </li>
          <li class="card-item">
            <figure
              class="card-image"
              style="background-image: url(../static/image/gallery/9.jpg);"
            ></figure>
          </li>
          <li class="card-item">
            <figure
              class="card-image"
              style="background-image: url(../static/image/gallery/10.jpg);"
            ></figure>
          </li>
          <li class="card-item">
            <figure
              class="card-image"
              style="background-image: url(../static/image/gallery/11.jpg);"
            ></figure>
          </li>
          <li class="card-item">
            <figure
              class="card-image"
              style="background-image: url(../static/image/gallery/12.jpg);"
            ></figure>
          </li>
        </ul>
      </section>
    </div>
    <script src="/js/nav.js"></script>
  </body>
<div th:replace="fragments/footer :: footer"/>
</html>
