<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>협회소개 | DCCA</title>
</head>

<body>
<div th:replace="fragments/bodyHeader :: bodyHeader"/>
<div th:replace="fragments/associationLeftMenu :: associationLeftMenu"/>

<form role="form" th:action="@{/board/create}" method="post">
    <label>제목 : </label><input type="text" name="title"> <br>
    <label>작성자 : </label><input type="text" name="writer"> <br>
    <textarea name="content"></textarea><br>

    <input type="submit" value="등록">
</form>


<script src="/js/nav.js"></script>
</body>
<div th:replace="fragments/footer :: footer"/>
</html>
