<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>WRO 대회 | DCCA</title>
  </head>

<body>
<div th:replace="fragments/bodyHeader :: bodyHeader"/>
<div th:replace="fragments/businessLeftMenu :: businessLeftMenu"/>

      <div class="right-Menu"></div>
      <div class="content">
        <div class="content__title"><h1>디지털 문화 융합 세미나</h1></div>
        <div class="content__content">
          <div class="content__image">
            <img src="static/image/dcca.jpg" class="dcca" />
          </div>
          <ul>
            <li>
              대내외 환경변화에 따른 거시적·주도적인 정책 아젠다 발굴과 중장기
              미래전망 연구를 통해 4차 산업혁명 및 지능정보사회의 장기적 국가
              미래 전략 및 정책 수립을 지원합니다.
            </li>
            <li>
              ICT 융합기술을 적용한 새로운 서비스를 발굴하고 확산함으로써
              공공서비스를 개선하고 국가의 사회현안을 해결하고자 합니다.
            </li>
            <li>
              범국가 차원의 디지털문화융합 정책과 사업을 기획하고,
              디지털문화융합 프로젝트 추진을 통해 우리나라의 문화산업 혁신을
              디자인합니다.
            </li>
          </ul>
        </div>
      </div>
    </div>
    <script src="static/js/nav.js"></script>
  </body>
<div th:replace="fragments/footer :: footer"/>
</html>
