<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/header :: header">
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <form role="form" th:action="@{'/board/notify/modify/' + ${boardDto.id}}" method="post">
        <input type="hidden" name="_method" value="put"/>
        <input type="hidden" name="id" th:value="${boardDto.id}"/>
        <table class="table" >
            <tr>
                <th style="padding:13px 0 0 15px;">제목</th>
                <td>
                    <input type="text" name="title" th:value="${boardDto.title}" readonly>
                </td>
            </tr>
            <tr>
                <th style="padding:13px 0 0 15px;">작성자</th>

                <td>
                    <input type="text" name="writer" th:value="${boardDto.writer}"
                    readonly>
                </td>
            </tr>
            <tr>
                <th style="padding:13px 0 0 15px;">내용</th>
                <td>
                        <textarea id="board_content" class="form-control input-sm" name="content"
                                  maxlength="140" rows="70" style="height: 200px;"
                                    th:text="${boardDto.content}" readonly>

                        </textarea>
                    <span class="help-block"></span>
                </td>
            </tr>
        </table>
        <input sec:authorize="hasRole('ROLE_ADMIN')" type="submit" value="수정">
        <input sec:authorize="hasRole('ROLE_ADMIN')" type="submit" value="삭제" th:formaction="@{'/board/notify/del/' + ${boardDto.id}}">
        <input type="button" value="이전" onClick="history.go(-1)">
    </form>
    <div th:replace="fragments/footer :: footer"/>
</div> <!-- /container -->
</body>
</html>



