<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="bodyHeader">
    <div class="page">
        <!--Header 시작-->
        <header class="header">
            <!-- 네비게이션바 -->
            <nav class="nav-bar">
                <!-- 홈페이지 메뉴 -->
                <!-- 로고 -->
                <div class="nav-bar__logo">
                    <a href="/">DCCA</a>
                </div>
                <ul class="nav-bar__list">
                    <li class="nav-bar__list-item">
                        <h1>협 회 소 개</h1>

                        <ul class="dropdown-menu">
                            <li><a href="/association/hello">회장 인사말</a></li>
                            <li><a href="/association/goal">설립 취지</a></li>
                            <li><a href="/association/history">협회 연혁</a></li>
                            <li>
                                <a href="/association/chart">협회 조직도</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-bar__list-item">
                        <h1>사 업 소 개</h1>

                        <ul class="dropdown-menu">
                            <li><a href="/business/cowork">해외협력 사업</a></li>
                            <li><a href="/business/wro">WRO 대회</a></li>
                            <li>
                                <a href="/business/seminar"
                                >디지털 문화 융합 세미나</a
                                >
                            </li>
                        </ul>
                    </li>
                    <li class="nav-bar__list-item">
                        <h1>협 회 소 식</h1>

                        <ul class="dropdown-menu">
                            <li><a href="#">공지사항</a></li>
                            <li><a href="#">보도자료</a></li>
                            <li><a href="/board/pic">협회 갤러리</a></li>
                        </ul>
                    </li>
                    <li class="nav-bar__list-item">
                        <h1><a href="/board/repo">자 료 실</a></h1>
                    </li>
                </ul>
                <div class="background-bar"></div>
                <!-- 회원가입, 로그인 -->
                <div class="nav-bar__button">
              <span class="nav-bar__register">
                <i class="xi-mail"></i>
                <a href="/login/signup">회원가입</a>
              </span>
                    <span class="nav-bar__login">
                <i class="xi-lock"></i>
                <a href="/login/signin">로그인</a>
              </span>
                </div>
                <div class="burger">
                    <div class="line1"></div>
                    <div class="line2"></div>
                    <div class="line3"></div>
                </div>
            </nav>
        </header>
        <!-- header END -->